<% obj.each do|article|%>
<div class="article-preview_container">
  <div class="article-preview">
    <h1 class='article_title'><%=link_to article.title, article_path(article)%></h1>
    <p class="article_text"><%= truncate(article.description, length:100)%></p>
  </div>
  <div class="row mini-footer">
    <p>Created by <%=link_to article.user.username, article.user%> about <%= time_ago_in_words(article.created_at)%> ago | Last update: <%= time_ago_in_words(article.updated_at)%> ago</p>
  </div>

  <div>
    <% if article.categories.any? %>
      <p class="mini-footer">Tags: <%= render article.categories %></p>
    <% end %>
  </div>

  <% if logged_in? && (current_user == article.user || current_user.admin?) %>
  <div class="row article_actions">
    <%= link_to "Edit", edit_article_path(article), class: "action_button action_button-yellow"%>
    <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "action_button action_button-red"%>
  </div>
  <% end %>
</div>
<%end%>
