<% if @article.errors.any? %>
<h2>Errors:</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg%></li>
  <%end%>
</ul>
<%end%>

<%= form_for @article do |a|%>
 <p>
   <%= a.label :title %> <br/>
   <%= a.text_field :title %>
 </p>

 <p>
   <%= a.label :description %> <br/>
   <%= a.text_area :description %>
 </p>

 <p>
   <%= a.submit %>
 </p>

<% end %>
 <%= link_to "Back to all articles", articles_path%>
