<%= render 'layouts/errors', obj: @article %>

<div class="user-input_form">
  <%= form_for @article do |a|%>
  <div class="row">
   <%= a.label :title, class:"label"%>
    <div class="article_input">
      <%= a.text_field :title, class:"input_field" %>
    </div>
  </div>

  <div class="row">
    <%= a.label :description, class:"label" %>
    <div class="article_input input_tall">
      <%= a.text_area :description, rows:10, class:"input_field"%>
    </div>
  </div>

   <p>
     <%= a.submit class: "btn btn-xlg"%>
   </p>
</div>

<% end %>
 <%= link_to "Back to all articles", articles_path%>
