<h1>List of articles</h1>
<p>
  <%= link_to "Home", root_path %> | <%= link_to "New article", new_article_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @all_articles.each do|article_instance|%>
  <tr>
    <td><%= article_instance.title %></td>
    <td><%= article_instance.description %></td>
    <td><%= link_to "Show", article_path(article_instance)%></td>
    <td><%= link_to "Edit", edit_article_path(article_instance)%> </td>
    <td><%= link_to "Delete", article_path(article_instance), method: :delete, data: {confirm: "Are you sure?"}%></td>
  </tr>
  <%end%>
</table>
