<h1 class="article_title"><%= @article.title  %></h1>

<p class="article_text">
  <%= @article.description %>
</p>
<p> Author:
  <%= @article.user.username %>
</p>

<div class="article_actions">
  <% if logged_in? && (current_user == article.user || current_user.admin?) %>
    <%= link_to "Edit article", edit_article_path, class: "action_button action_button-yellow"%>
    <%= link_to "Delete article", article_path, method: :delete, data: {confirm: "Are you sure?"}, class: "action_button action_button-red"%>
  <% end %>
   <%= link_to "Back to all articles", articles_path, class: "action_button action_button-green"%>
</div>
